*{
  padding: 0;
  margin: 0;
}
.header_menu{
  font-size: 50px !important;
}
.header_youtube{
color: red !important;
font-size: 80px !important;
}
/* .header_input{
  width: 500px;
  height:30px;
} */
.header_search{
  font-size: 35px !important;
  width: 45px !important;
  height:35px !important;
}
.header_middle{
  width: 500px;
}
/* .header_middle > input{
  flex:1;
  border: none;
  outline: none;
} */
.header_avatar{
  width:38px !important;
  height:38px !important;
}

.header_right > .MuiSvgIcon-root{
  font-size:35px !important;
}
.sidebarow_icons{
  font-size: 35px !important;
}
.sidebarow.selected{
  @apply bg-gray-300;
}
.sidebarow.selected> .sidebarow_icons{
  @apply text-red-600;
}
@media only screen and (max-width:650px){
    .header_middle{
      width: 200px !important;
    }
    .header_search{
      font-size: 10px !important;
      width: 15px !important;
    }
    .header_right > .MuiSvgIcon-root{
      font-size:15px !important;
    }
    .header_menu{
      font-size: 13px !important;
    }
    .header_youtube{
    color: red !important;
    font-size: 20px !important;
    }
    .header_avatar{
      width:18px !important;
      height:18px !important;
    }
    .sidebarow_icons{
      font-size: 15px !important;
    }
}
/* .sidebarow{
  padding:10px 20px;
} */
